body {
    margin: 0;
    overflow: hidden;
    background-color: #d0f4f7;
  }
  canvas {
    display: block;
    margin: 0 auto;
    background: url('https://i.imgur.com/Vp33bFv.png');
    background-size: cover;
  }
  #menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding-top: 200px;
    font-family: sans-serif;
  }
  
  #menu button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  